SQLAlchemy
asyncpg
alembic
python-dotenv
telethon
aiogram
vkbottle
loguru
pydantic-settings
pydantic
fastapi
uvicorn[standard]
celery
redis
aiohttp
httpx
python-multipart
email-validator
pytest
pytest-asyncio
pytest-cov
pytest-env
flake8
black
mypy
isort